:root {
    --color-primary: #f5f5f5;
    --color-secondary: #03a87c;
    --color-tertiary: #54afcc;
    --color-grey: #eee;
    --color-light: #fff;
    --color-dark: #c0bfbf;
    --color-dim: #8f8d8d;
}

body {
    background-color: var(--color-primary);
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: var(--color-primary);
    width: 35%;
    height: 400px;
    margin: 100px auto;
    text-align: center;
}

.text {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.text span {
    color: var(--color-secondary);
    font-family: cursive;
}

.form {
    background-color: var(--color-light);
    padding: 25px;
    /* height: 50%; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid var(--color-grey);
    border-radius: 5px;
    box-shadow: 1px 1px 3px var(--color-dark);
    transition: all 0.3s ease;
}

.form input {
    width: 100%;
    text-indent: 15px;
    background-color: var(--color-primary);
    border: 1px solid var(--color-grey);
    border-radius: 10px;
    padding: 10px 0;
    margin: 15px 0 25px 0;
    font-size: 16px;
    color: var(--color-dim);
    transition: all 0.3s ease;
}

.form input:focus {
    outline: none;
    border: 1px solid var(--color-secondary);
}

.form label {
    text-transform: uppercase;
    font-size: 13px;
    color: var(--color-dim);
}

#signIn {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-light);
    cursor: pointer;
    transition: all 0.3s ease;
}

#signIn:hover {
    background-color: #028260;
    border: 1px solid #028260;
}

#forgot {
    color: var(--color-tertiary);
    text-decoration: none;
    align-self: center;
}

.small-nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.small-nav a {
    background-color: var(--color-tertiary);
    color: var(--color-light);
    font-size: 15px;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
}

.form-cont {
    width: 60%;
    margin: 50px auto;
}

.main-form {
    width: 100%;
}

.form-grp {
    display: flex;
    justify-content: space-between;
}

.form-grp div {
    display: flex;
    flex-direction: column;
    width: 27%;
    margin: 10px 0;
}

.spread div {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.form-grp div * {
    margin: 10px 0;
}

.form-grp input, select, textarea, input[type='file'], input[type='submit'] {
    width: 100%;
    padding: 7px;
    border: 1px solid var(--color-dim);
    border-radius: 5px;
}

.form-grp input:focus, select:focus, textarea:focus {
    outline: none;
    border: 1px solid var(--color-secondary);
}

.single-form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.single-form *{
    margin: 10px 0;
}

.single-form textarea {
    height: 100px;
    text-indent: 5px;
}

.single-form input[type='file'] {
    width: 97.4%;
}

#submit {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    color: var(--color-light);
    cursor: pointer;
    transition: all 0.3s ease;
}

#submit:hover {
    background-color: #028260;
    border: 1px solid #028260;
}





@media screen and (max-width: 768px) {
    .container {
        width: 80%;
    }
    
    .form-cont {
        width: 100%;
    }
    
    .form-grp div {
        width: 100%;
    }
    
    .spread div {
        width: 100%;
    }

    .form-cont {
        width: 80%;
    }

    .form-grp {
        flex-direction: column;
    }

    .form-grp div {
        margin: 10px;
    }

    .form-grp div * {
        margin: 10px 0;
        font-size: large;
    }

    .form-grp input, select, input[type='file'], input[type='submit'] {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--color-dim);
        border-radius: 5px;
    }

    .form-grp input:focus, select:focus {
        outline: none;
        border: 1px solid var(--color-secondary);
    }

    .single-form {
        display: flex;
        flex-direction: column;
        margin: 20px 0;
    }

    #submit, .small-nav a  {
        padding: 30px;
        font-size: large;
    }
}